body {
    margin: 10px;
}

.contenedor_header {
    display: flex;
    justify-content: space-between;
}

.logos {
    font-size: larger;
}

.login {
    color: black;
}

.login:hover {
    font-weight: bold;
}

.router-link-active {
    color: orange;
}

.empresa {
    display: flex;
    flex-direction: column;
}

.borde_contenedor {
    border: 5px solid black;
    margin: 10px 0px;
    padding: 20px;
}

footer {
    background-color: black;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}